<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apply</title>

    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- apply.css -->
    <link rel="stylesheet" href="css/apply.css" />
    
    <!-- &nbsp;&nbsp;&nbsp; เว้นวรรค -->

    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0;
        padding-top: 500px;
        padding-bottom: 50px;
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        background-image: url("image/BG.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }
      .logo {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 50px 10px 140px;
        font-size: 24px;
        background-image: url("image/Logo_CalorieCare.png");
        background-size: cover;
        background-position: center;
      }
      .button {
        background-color: #8a9a8b;
        color: #ffffff;
        border: none;
        padding: 15px 150px;
        margin: 60px 50px 30px 145px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        font-family: "Kanit", sans-serif;
        font-size: 40px;
        display: inline-block;
        text-decoration: none; /* ไม่มีเส้นใต้ */
      }
      .genderContainer {
        margin: 10px 0px 15px 50px;
      }
      .genderButton-female {
        display: inline-flex;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid rgb(224, 132, 147);
        border-radius: 20px;
        padding: 30px 50px;
        margin: 5px;
        cursor: pointer;
        font-size: large;
      }
      .genderButton-male {
        display: inline-flex;
        align-items: center;
        background-color: #ffffff;
        border: 1px solid rgb(76, 141, 233);
        border-radius: 20px;
        padding: 30px 50px;
        margin: 5px;
        margin-left: 25px;
        cursor: pointer;
        font-size: large;
      }
      .selected {
        background-color: #dedede;
        color: #ffffff;
        font-size: 20px;
      }
      .icon-female {
        color: rgb(224, 132, 147);
        align-items: center;
        font-family: "Noto Sans Thai", sans-serif;
        display: flex;
        font-size: 40px;
        margin-right: 2px;
        font-weight: bold;
      }
      .icon-male {
        color: rgb(76, 141, 233);
        align-items: center;
        font-family: "Kanit", sans-serif;
        display: flex;
        font-size: 40px;
        margin-right: 12px;
        font-weight: bold;
      }
    </style>

    <script src="js/apply.js"></script>

  </head>

  <body>
    <div class="container">
      <a class="bi bi-arrow-left-short icon-arrow_back" href="homepage.html">
        <span class="TextBack">กลับ</span>
      </a>
      </span>
      <div class="logo"></div>
      <div class="title">สมัครสมาชิก</div>
      <form>
        <label class="Text"> ชื่อผู้ใช้</label>
        <input type="text" class="input" id="name" required />

        <label class="Text"> อีเมล</label>
        <input type="email" class="input" id="email" required />

        <label class="Text"> รหัสผ่าน</label>
        <input type="password" class="input" id="password" required />

        <label class="Text"> เพศ</label>
        <div class="genderContainer">
          <button
            type="button"
            class="genderButton genderButton-male"
            data-gender="male"
            onclick="setGender('male')"
          >
            <span class="bi bi-gender-male icon-male gender-text">เพศชาย</span>
          </button>
          <button
            type="button"
            class="genderButton genderButton-female"
            data-gender="female"
            onclick="setGender('female')"
          >
            <span class="bi bi-gender-female icon-female gender-text">เพศหญิง</span>
          </button>
        </div>
        

        <a type="submit" class="button" href="personal_information.html">ถัดไป</a>
      </form>
    </div>
  </body>
</html>