<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CalorieCare</title>
        <!-- add icon link -->
        <link rel="icon" href="image/Logo_CalorieCare.png" type="image/x-icon" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <style>
            body {
                background-image: url("image/BG.png");
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
            } 
            .btn-green2 {
                --bs-btn-color: #fff;
                --bs-btn-bg: #839788;
                --bs-btn-border-color: #839788;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg: #157347;
                --bs-btn-hover-border-color: #157347;
                --bs-btn-focus-shadow-rgb: 25, 135, 84;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #fff;
                --bs-btn-active-border-color: #fff;
                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                --bs-btn-disabled-color: #fff;
                --bs-btn-disabled-bg: transparent;
                --bs-btn-disabled-border-color: #fff;
            }
            .no-underline {
                text-decoration: none;
            }
            .paragraph {
                columns: 200px 2;
                column-gap: 30px;
                color: #fff;
                padding: 25px;
            }
            .grid {
                padding-top: 25%;
                margin-bottom: 3rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 1rem;
            }
            @media (max-width: 767.98px) {
                .grid {
                padding-top: 0;
                margin-bottom: 3rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 1rem;
                }
            }
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">
                    <img src="image/Logo_CalorieCare.png" alt="Bootstrap" width="70" height="70">
                </a>
                        <form class="d-flex justify-content-end">
                            <% if (loggedIn) { %>
                                <h2><a class="nav-link" href="/profile"><i class="bi bi-person-circle text-green"></i></a></h2>
                                <a class="btn btn-outline-danger" href="/logout">
                                    ออกจากระบบ
                                </a>
                            <% } %>
                    
                            <% if (!loggedIn) { %>
                                <a class="btn btn-green2 btn-lg" href="/register">
                                    สมัครสมาชิก
                                </a>
                            <% } %>
                        </form>
            </div>
        </nav>

        <!-- Container / Login form -->
        <div class="container">
            <div class="grid">
                <div class="grid-items" style="padding-top: 6rem;">
                    <h1 class="text-white fw-bolder">CaloriesCare เว็ปแอพลิเคชั่นในการดูแลสุขภาพ คำนวณแคลอรี่</h1>
                    <h5 class="text-white">
                        แอพพลิเคชั่นแนะนำแคลอรี่ที่ควรได้รับในแต่ละวัน หรือค่า TDEE และยังมีฟีเจอร์ การตั้งเป้าหมาย , คำนวณค่าต่างๆ , แนวทางการออกกำลังกาย , 
                        ประวัติการรับแคลอรี่และพลังงานที่ใช้ในแต่ละวันโดยที่ผู้ใช้งานจะต้องกรอกข้อมูลจำนวนแคลอรี่ที่ทานในแต่ละมื้อ
                    </h5>
                </div>
                <div class="grid-items">
                    <div class="card mx-auto" style="width: 100%; max-width: 450px; border-radius: 5%;">
                        <div class="card-body p-5">
                            <h4 class="card-title fw-bolder">เข้าสู่ระบบ</h4>

                            <% if (messages.error && messages.error.length > 0) { %>
                                <div class="alert alert-danger">
                                    <%= messages.error %>
                                </div>
                            <% } %>

                            <form action="/user/login" method="POST">
                                <div class="form-group mt-4">
                                    <label class="Text" for="username">ชื่อผู้ใช้</label>
                                    <input type="text" class="form-control" id="username" name="username"/>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="Text" for="password">รหัสผ่าน</label>
                                    <input type="password" class="form-control" id="password" name="password"/>
                                </div>
                                <button class="button w-100 btn btn-lg mt-3 btn-green2 mt-4" type="submit">เข้าสู่ระบบ</button>
                            </form>
                            <div class="mt-4">
                                <a class="no-underline" href="/">ลืมรหัสผ่าน ?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
               
        

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
