@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
 * {
  font-family: "Noto Sans Thai", sans-serif;
}
.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 130px 30px 50px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 20px;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  color: #8a9a8b;
  font-family: "Noto Sans Thai", sans-serif;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #8a9a8b;
}
.divider:not(:empty)::before {
  margin-right: 0.25em;
}
.divider:not(:empty)::after {
  margin-left: 0.25em;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a9a8b;
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
  margin: 0 30px 20px 120px;
}
.Text {
  font-size: 40px;
  color: #6b8d71;
  margin-top: 15px;
  margin-left: 15px;
  font-family: "Noto Sans Thai", sans-serif;
  text-align: left;
  display: block;
}
.input {
  height: 70px;
  border: 1px solid #8a9a8b;
  border-radius: 8px;
  padding: 5px 50px 0px 40px;
  margin: 10px 0;
  width: calc(100% - 20px);
  background-color: #f9f9f9;
  font-size: 40px;
  font-family: "Noto Sans Thai", sans-serif;
  display: inline-block;
}
.genderContainer {
  margin: 10px 0px 15px 50px;
}
.icon-arrow_back {
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-size: 70px;
  color: #8a9a8b;
  text-decoration: none;
  font-family: "Noto Sans Thai", sans-serif;
}
.icon-arrow_back .TextBack {
  font-size: 50px;
  margin-left: 5px;
}
.forget_password {
  font-size: 40px;
  color: #6b8d71;
  margin-top: 5px;
  font-family: "Noto Sans Thai", sans-serif;
  text-align: right;
  display: block;
  text-decoration: none;
}

.btn-green2 {
  --bs-btn-color: #ff4080;
  --bs-btn-border-color: #ff4080;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff4080;
  --bs-btn-hover-border-color: #ff4080;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff4080;
  --bs-btn-active-border-color: #ff4080;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ff4080;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff4080;
  --bs-gradient: none;
}
