.header {
  background-color: #b0c4b1;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 18px;
  position: sticky;
  top: 0;
}
.content {
  padding: 20px;
}
.date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.meal-section {
  background-color: #e8f0e8;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.meal-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.meal-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
}
.add-food-btn {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #90b499;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none; /* ลบเส้นใต้ */
}
.add-food-btn:hover {
  background-color: #729576;
}
.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 20px;
}
.date-container button {
  background-color: #90b499;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}
.date-container span {
  margin: 0 20px;
  font-size: 18px;
}


